.env
.env.*
!.env.example
node_modules/
dist/
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
__pycache__/
*.pyc
.venv/
.idea/
.vscode/
.expo/
.expo-export-test/
.expo-web-test/
expo-start*.log

########################################
# Build Output
########################################

bin/
obj/
out/
artifacts/

########################################
# Logs
########################################

*.log
logs/

########################################
# Test Results
########################################

TestResults/
BenchmarkDotNet.Artifacts/

########################################
# NuGet
########################################

*.nupkg
*.snupkg
packages/

# Uncomment ONLY if you do not use PackageReference
# !packages/build/

########################################
# EF Core
########################################

# Generated SQL scripts (optional)
*.sql

########################################
# ASP.NET Core
########################################

appsettings.Development.json

