ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:3000
ConnectionStrings__Postgres=Host=postgres;Port=5432;Database=omniarm;Username=omniarm;Password=omniarm
Mqtt__Host=mqtt
Mqtt__Port=1883
